$primary-color: #444;
$white: #fff;
$secondary-color: #eece1a;

$show-home-image: true;
$show-image: url(../img/background.jpg);
$background-opacity: 0.7;

$colors: (
  white: $white,
  primary: $primary-color,
  secondary: $secondary-color
);

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: {
        image: $show-image;
        attachment: fixed;
        size: cover;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@function color($key) {
  @return map-get($colors, $key);
}

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
